<div class="footer">
    <div class="foot_info">
        <div class="info_left">
            <div class="info_left_detail">
                <ul>
                    <li><a href="https://www.naver.com/rules/service.html">이용약관</a></li>
                    
                    <li><a href="https://www.naver.com/rules/service.html">개인정보처리방침</a></li>
                    
                    <li><a href="https://www.naver.com/rules/service.html">책임의 한계와 법적고지</a></li>
                    
                    <li><a href="https://www.naver.com/rules/service.html">고객센터</a></li>
                    
                    <li><a href="https://www.naver.com/rules/service.html">웹툰광고 문의</a></li>
                </ul>
            </div>
            <div class="navercorpimg">
                <a href="#">
                    <img src="/navercorp..png" alt="navercorp">
                </a>
            </div>    
        </div>
        
        <div class="line"></div>

        <div class="info_right">
            <div class="info_right_detail">
                <ul>
                    <li><a href="https://www.naver.com/rules/service.html">이용약관</a></li>
                    
                    <li><a href="https://www.naver.com/rules/service.html">개인정보처리방침</a></li>
                    
                    <li><a href="https://www.naver.com/rules/service.html">청소년보호정책</a></li>
                    
                    <li><a href="https://www.naver.com/rules/service.html">웹툰 고객센터</a></li>
                    
                    <li><a href="https://www.naver.com/rules/service.html">웹툰 사업 문의</a></li>
                </ul>
            </div>
            <div class="naverwebtooncorpimg">
                <a href="#">
                    <img src="/naverwebtoonlimited.png" alt="naverwebtooncorp">
                </a>
            </div>    
        </div>
    </div>
    <div class="copy_low">
        <p>본 컨텐츠의 저작권은 저자 또는 제공처에 있으며, 이를 무단 이용하는 경우 저작권법 등에 따라 법적 책임을 질수 있습니다.</p>
    </div>
</div> <!--FOOTER 닫기-->