<div id="header_wrap">
    <div id="header">
        <div class="inner">
            <ul id="head_left">  
                <li><a id="naver_head" href="#">NAVER</a></li>
                <li><a id="만화_head" href="#">만화</a></li>
                <li id="bars"> |  </li>
                <li><a id="웹소설_head" href="#">웹소설</a></li>
                <li>
                    <div class="search">
                    <input id="search_form" type="text" placeholder="제목/작가로 검색할 수 있습니다."><i class="fas fa-search"></i></input>
                    
                    </div>
                </li>
            </ul>
            <div id="head_right">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"><a class="login_text" href="./login">로그인</a></button>
                    <button type="button" class="btn btn-default"><i class="fas fa-bars"></i></button>
                  </div>
            </div>
        </div>
        
    </div>
    <div class="semi_header">
        <div class="inner">
            <ul class="semi_left">
                <li><a id="홈" href="#">홈</a></li>
                <li><a id="웹툰" href="#">웹툰</a></li>
                <li><a id="베스트도전" href="#">베스트 도전</a></li>
                <li><a id="도전만화" href="#">도전만화</a></li>
                <li><a id="마이페이지" href="./mypage">마이페이지</a></li>
                <li id="bars"> | </li>
                <li><a id="단행본만화" href="#">단행본만화</a></li>
                <li><a id="장르소설" href="#">장르소설</a></li>
            </ul>
        </div>
    </div>
</div>