<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="shortcut icon" href="https://ssl.pstatic.net/static/comic/favicon/webtoon_favicon_32x32.ico">
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- 폰트 어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <title>네이버 만화</title>
    <link rel="stylesheet" href="./public/main.css">
    <style type="text/css">  a { text-decoration:none } </style>
    
</head>
<body>
    <div id="wrap" class="end_page">
        <!-- HEADER -->
        <%- include('header.html') %>
            <!-- MAIN -->
                <div class="main_wrap">
                    <div class="inner">
                        <div class="main"> 
                            <div class="오늘의웹툰">
                            <img src="오늘의 웹툰.png" alt="오늘의 웹툰">
                                <p>8월 5일 목요일</p>
                                <div class="main_list">
                                    <ul>
                                        <li><a href="#" style="color: #00d564;">인기순</a></li>
                                        <li><a href="#">업데이트순</a></li>
                                        <li><a href="#">조회순</a></li>
                                        <li><a href="#">별점순</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <!-- 슬라이드 영역  -->
                            <div class="section">
                                <div class="slidewrap">
                                    <ul class="slidelist">
                                        <li>
                                            <a>
                                                <img src="더복서.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <img src="연애혁명.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <img src="기기괴괴.jpg">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Right nav -->
                        
                            <div class="todayChallenge">
                                <div class="today_title_wrap">
                                    <div class="today_title">
                                        <img src="/sp_todayChallenge.png" alt="todayimg">
                                    </div>
                                </div> 
                                <div class="today_box">
                                    <img src="/todayChallenge.jpg" alt="todayChallengeimg">
                                </div>
                                <div class="today_detail">
                                    <div class="dt">
                                        <a href="">
                                            <p>작은 집에 사는 커다...</p>
                                        </a>
                                    </div>
                                    <div class="dl">
                                        <p>강아지와 사람 이야기</p>
                                    </div>
                                </div>
                            </div> 
                            
                        
                            <!-- 슬라이드 밑 버튼영역     -->
                            <div class="btn-section">
                                <div class="slide-contorol">
                                
                                
                                    
                                        <div class="contorl01">
                                            <div class="slide_btn_pre"><label class=" left" for="slide003" ></label></div>
                                            <div class="slide_btn_next"><label class=" right" for="slide02"></label></div>
                                        </div>
                                        <div class="contorl02">
                                            <label class="left" for="slide01" ></label>
                                            <label class="right" for="slide03"></label>
                                        </div>
                                </div>
                            </div>
                        </div> 
                        <!--메인 닫기-->

                        <!-- Semi_Main -->
                    
                        <div class="semi_main">
                            <div class="main_ad">
                                <a href="#">
                                    <img src="메인광고이미지.jpg" alt="ad" width="694" height="80">
                                </a>
                            </div>
                            <!-- A_SIDE -->
                            <%- include('a_side.html') %>
                            <!-- A_SIDE 끝 -->

                            <!-- CONENT -->
                            <div class="content">
            
                
                                <!-- 장르별추천웹툰 -->
                                <div class="content_wrap">

                                    <div class="content_title">
                                        <a href="#">
                                            <img src="/navertext/장르별추천웹툰.png" alt="장르별추천웹툰">
                                        </a>
                                    </div>

                                    <div class="tag_br">
                                        <ul>
                                            <li>
                                                <a href="#" id="episode" title="에피소드">에피소드</a>
                                            </li>
                                            <li> 
                                                <a href="#" id="omnibus" title="옴니버스">옴니버스</a>
                                            </li>
                                            <li> 
                                                <a href="#" id="story" title="스토리">스토리</a>
                                            </li>
                                            <li id="bars">|</li>
                                            <li>
                                                <a href="#" id="daily" title="일상">일상</a>
                                            </li>
                                            <li>
                                                <a href="#" id="comic" title="개그">개그</a>
                                            </li>
                                            <li>
                                                <a href="#" id="fantasy" title="판타지">판타지</a>
                                            </li>
                                            <li>
                                                <a href="#" id="action" title="액션">액션</a>
                                            </li>
                                            <li>
                                                <a href="#" id="drama" title="드라마">드라마</a>
                                            </li>
                                            <li>
                                                <a href="#" id="pure" title="순정">순정</a>
                                            </li>
                                            <li>
                                                <a href="#" id="sensibility" title="감성">감성</a>
                                            </li>
                                            <li>
                                                <a href="#" id="thrill" title="스릴러">스릴러</a>
                                            </li>
                                            <li>
                                                <a href="#" id="historical" title="시대극">시대극</a>
                                            </li>
                                            <li>
                                                <a href="#" id="sports" title="스포츠">스포츠</a>
                                            </li>     
                                        </ul>
                                    </div>
                                    <!-- view_type -->
                                    <div class="view_type">
                                        <ul class="sortby">
                                            <li><a href="#"><span class="view_popular"> 인기순 </span></a></li>
                                            <li><a href="#"><span class="view_update"> 업데이트순 </span></a></li>
                                            <li><a href="#"><span class="view_count"> 조회순 </span></a></li>
                                            <li><a href="#"><span class="view_star"> 별점순 </span></a></li>
                                         </ul>
                                    </div>
                                    <!-- contentmain -->
                                    <div class="content_main">

                                        <div class="content_top">
                                            <!-- ===01=== -->
                                            <div class="content01">
                                                <a href="#">
                                                    <img src="content01.jpg" alt="content01">
                                                </a>
                                                <div class="content01_info">
                                                    <h6>
                                                        <a href="#">모죠의일기</a>
                                                    </h6>
                                                    <a href="">
                                                        <p>236화. 테스트 열풍</p>
                                                    </a>
                                                    <span>
                                                        <a href="#">모죠</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- ===02=== -->
                                            <div class="content02">
                                                <a href="#">
                                                    <img src="content02.jpg" alt="content02">
                                                </a>
                                                <div class="content02_info">
                                                    <h6>
                                                        <a href="#">수상한 비밀상담부</a>
                                                    </h6>
                                                    <a href="">
                                                        <p>54화</p>
                                                    </a>
                                                    <span>
                                                        <a href="#">149</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- ===03=== -->
                                            <div class="content03">
                                                <a href="#">
                                                    <img src="content03.jpg" alt="content03">
                                                </a>
                                                <div class="content03_info">
                                                    <h6>
                                                        <a href="#">범이올시다!</a>
                                                    </h6>
                                                    <a href="">
                                                        <p>65화</p>
                                                    </a>
                                                    <span>
                                                        <a href="#">해</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="content_bottom">
                                            <!-- ===04=== -->
                                            <div class="content04">
                                                <a href="#">
                                                    <img src="content04.jpg" alt="content04">
                                                </a>
                                                <div class="content04_info">
                                                    <h6>
                                                        <a href="#">닥터앤닥터 육아일기</a>
                                                    </h6>
                                                    <a href="">
                                                        <p>203. 삶2</p>
                                                    </a>
                                                    <span>
                                                        <a href="#">닥터베르</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- ===05=== -->
                                            <div class="content05">
                                                <a href="#">
                                                    <img src="content05.jpg" alt="content05">
                                                </a>
                                                <div class="content05_info">
                                                    <h6>
                                                        <a href="#">언덕 위의 제임스</a>
                                                    </h6>
                                                    <a href="">
                                                        <p>289화 모근 게임(7)완</p>
                                                    </a>
                                                    <span>
                                                        <a href="#">쿠당탕</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- ===06=== -->
                                            <div class="content06">
                                                <a href="#">
                                                    <img src="content06.jpg" alt="content06">
                                                </a>
                                                <div class="content06_info">
                                                    <h6>
                                                        <a href="#">노곤하개</a>
                                                    </h6>
                                                    <a href="">
                                                        <p>시즌4 70화 노곤하개냥 쇼트(2)</p>
                                                    </a>
                                                    <span>
                                                        <a href="#">홍끼</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>   <!-- content_main /div -->     
                                </div>   <!-- content_wrap /div -->

                                <!-- 베스트 도전 & 도전 추천웹툰 -->
                                    <div class="best_wrap">
                                        <div class="best_title">
                                            <a href="#">
                                                <img src="/navertext/도전웹툰.png" alt="베스트도전웹툰">
                                            </a>
                                        </div>

                                        <ul class="best_main">
                                                <!-- 01 -->
                                                <li class="best01">
                                                    
                                                        <div class="best01_title">
                                                            <p>에피소드</p>
                                                        </div>

                                                        <div class="best01_01">
                                                            <a href="#"><img src="/네이버웹툰이미지/베도/에피소드/사예의식이장애.jpg" alt="사예의식이장애"></a>
                                                            <div class="best01_01_info">
                                                                <a href="#">사예의 식이장애 일지</a>
                                                                <p>sayelee126</p>
                                                                <div class="summary">
                                                                    <a href="#">식이장애 이야기</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="best01_02">
                                                            <a href="#"><img src="/네이버웹툰이미지/베도/에피소드/소도시에삽니다.jpg" alt="소도시에삽니다"></a>
                                                            <div class="best01_02_info">
                                                                <a href="#">소도시에 삽니다</a>
                                                                <p>mini_funni</p>
                                                                <div class="summary">
                                                                    <a href="#">지방 소도시의 일상</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="best01_03">
                                                            <a href="#"><img src="/네이버웹툰이미지/베도/에피소드/섭섭하지않은쿼카.jpg" alt="섭섭하지않은쿼카"></a>
                                                            <div class="best01_03_info">
                                                                <a href="#">섭섭하지 않은 쿼카</a>
                                                                <p>i_memymine</p>
                                                                <div class="summary">
                                                                    <a href="#">하루,그림일기 웹툰</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                </li>
                                                <!-- 02 -->
                                                <li class="best02">
                                                    
                                                    <div class="best02_title">
                                                        <p>옴니버스</p>
                                                    </div>

                                                    <div class="best02_01">
                                                        <a href="#"><img src="/네이버웹툰이미지/베도/옴니버스/떳다자취생.jpg" alt="떳다자취생"></a>
                                                        <div class="best02_01_info">
                                                            <a href="#">떳다! 자취생</a>
                                                            <p>_____sdd236</p>
                                                            <div class="summary">
                                                                <a href="#">자취생 토깽이야기</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="best02_02">
                                                        <a href="#"><img src="/네이버웹툰이미지/베도/옴니버스/마지막소원을이뤄.jpg" alt="마지막소원"></a>
                                                        <div class="best02_02_info">
                                                            <a href="#">마지막 소원을 이뤄...</a>
                                                            <p>chocowaffle95</p>
                                                            <div class="summary">
                                                                <a href="#">마지막을 아름답게</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="best02_03">
                                                        <a href="#"><img src="/네이버웹툰이미지/베도/옴니버스/역사만화단편선.jpg" alt="역사만화단편선"></a>
                                                        <div class="best02_03_info">
                                                            <a href="#">역사만화단편선</a>
                                                            <p>__kimkhns__</p>
                                                            <div class="summary">
                                                                <a href="#">이런 일이 있었어?</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </li>
                                                <!-- 03 -->
                                                <li class="best03">
                                                    
                                                    <div class="best03_title">
                                                        <p>스토리</p>
                                                    </div>

                                                    <div class="best03_01">
                                                        <a href="#"><img src="/네이버웹툰이미지/베도/스토리/검은늑대.jpg" alt="검은늑대"></a>
                                                        <div class="best03_01_info">
                                                            <a href="#">검은 늑대</a>
                                                            <p>____rin___ia70____</p>
                                                            <div class="summary">
                                                                <a href="#">검은 늑대이야기</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="best03_02">
                                                        <a href="#"><img src="/네이버웹툰이미지/베도/스토리/계단.jpg" alt="계단"></a>
                                                        <div class="best03_02_info">
                                                            <a href="#">계단</a>
                                                            <p>___nan___gtto________</p>
                                                            <div class="summary">
                                                                <a href="#">병이 낫는 계단</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="best03_03">
                                                        <a href="#"><img src="/네이버웹툰이미지/베도/스토리/삼수생월붕이.jpg" alt="삼수생 월붕이"></a>
                                                        <div class="best03_03_info">
                                                            <a href="#">삼수생 월붕이</a>
                                                            <p>__boyeskim__</p>
                                                            <div class="summary">
                                                                <a href="#">삼수생의 수능도전기</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </li>
                                        </ul>

                                    </div> <!-- 베스트 도전 & 도전 추천웹툰 닫기 -->

                                     <!-- 장르별 인기 단행본만화 -->
                                    <div class="인기_wrap">
                                        <div class="인기_title">
                                            <a href="#">
                                                <img src="/navertext/단행본만화.png" alt="단행본만화">
                                            </a>
                                        </div>

                                        <ul class="인기_main">
                                                <!-- 01 -->
                                                <li class="인기01">
                                                    
                                                        <div class="인기01_title">
                                                            <p>순정</p>
                                                        </div>

                                                        <div class="인기01_01">
                                                            <a href="#"><img src="/네이버웹툰이미지/왕녀데뷔는-순정.jpg" alt="왕녀데뷔는밑바닥..."></a>
                                                            <div class="인기01_01_info">
                                                                <a href="#">왕녀데뷔는밑바닥...</a>
                                                                <p>Kuaikan Comics</p>
                                                                <div class="summary">
                                                                    <a href="#">대륙의강국 크로시엘의 하나뿐인 왕녀 소피...</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="인기01_02">
                                                            <a href="#"><img src="/네이버웹툰이미지/뒤바뀐결혼-순정.jpg" alt="뒤바뀐 결혼"></a>
                                                            <div class="인기01_02_info">
                                                                <a href="#">뒤바뀐 결혼</a>
                                                                <p>오카자키 시게루</p>
                                                                <div class="summary">
                                                                    <a href="#">[쌍둥이 형제와의 금단 로맨스]</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </li>
                                                <!-- 02 -->
                                                <li class="인기02">
                                                    
                                                        <div class="인기02_title">
                                                            <p>소년</p>
                                                        </div>

                                                        <div class="인기02_01">
                                                            <a href="#"><img src="/네이버웹툰이미지/연애혁명-소년.jpg" alt="연애혁명"></a>
                                                            <div class="인기02_01_info">
                                                                <a href="#">연애혁명</a>
                                                                <p>232</p>
                                                                <div class="summary">
                                                                    <a href="#">로맨스 그런 건 우리에게 있을 수가 없어...</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="인기02_02">
                                                            <a href="#"><img src="/네이버웹툰이미지/창궁방-소년.jpg" alt="창궁방:불멸의신화"></a>
                                                            <div class="인기02_02_info">
                                                                <a href="#">창궁방:불멸의 신화</a>
                                                                <p>후새뢰</p>
                                                                <div class="summary">
                                                                    <a href="#">인간과 사족간의 전쟁에서 사족의 압박을 받...</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </li>

                                                <!-- 03 -->
                                                <li class="인기03">
                                                    
                                                    <div class="인기03_title">
                                                        <p>순정</p>
                                                    </div>

                                                    <div class="인기03_01">
                                                        <a href="#"><img src="/네이버웹툰이미지/지존준생-무협.jpg" alt="지존중생"></a>
                                                        <div class="인기03_01_info">
                                                            <a href="#">지존중생</a>
                                                            <p>채화</p>
                                                            <div class="summary">
                                                                <a href="#">주인공 진유황은 뇌광신공의 전반권을 얻어...</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="인기03_02">
                                                        <a href="#"><img src="/네이버웹툰이미지/전무-무협.jpg" alt="전무:최강무도 계승패"></a>
                                                        <div class="인기03_02_info">
                                                            <a href="#">전무:최강무도 계승패</a>
                                                            <p>Blacksad검은고양이</p>
                                                            <div class="summary">
                                                                <a href="#">서진이 사는 마을에 사람들을 잡아먹는 마물...</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>                                                   
                                                
                                        </ul>
                                    </div> <!--인기단행본닫기-->
                            </div> <!-- content 닫기 -->
                        </div>  <!-- semi_main 닫기 -->  
                        <!-- FOOTER -->
                        <%- include('footer.html') %>
                        <!-- FOOTER -->
                        </div> 
                    </div>    <!--INNER 닫기-->
                </div><!--MAIN WRAP 닫기-->
            </div>  <!--END PAGE 닫기-->
                
</body>
</html>