<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="shortcut icon" href="https://ssl.pstatic.net/static/comic/favicon/webtoon_favicon_32x32.ico">
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- 폰트 어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <title>네이버 만화</title>
    <link rel="stylesheet" href="./public/main.css">
    <style type="text/css">  a { text-decoration:none } </style>
    
</head>
<body>
    <div id="wrap" class="end_page">
        <!-- HEADER -->
        <%- include('header.html') %>
            <!-- MAIN -->
            <div class="main_wrap">
                    <div class="inner">
                        <div class="main"> 
                            <div class="오늘의웹툰">
                            <p>오늘의</br> 웹툰</p>
                                <p>7월 29일 목요일</p>
                                <div>
                                    <a href="#">인기순</a></br>
                                    <a href="#">업데이트순</a></br>
                                    <a href="#">조회순</a></br>
                                    <a href="#">별점순</a>
                                </div>
                            </div>
                            
                            <!-- 슬라이드 영역  -->
                            <div class="section">
                                <div class="slidewrap">
                                    <ul class="slidelist">
                                        <li>
                                            <a>
                                                <img src="더복서.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <img src="연애혁명.jpg">
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <img src="기기괴괴.jpg">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Right nav -->
                        <div class="inner">
                            <div class="todayChallenge">
                                    
                            </div> 
                        </div>
                            <!-- 슬라이드 밑 버튼영역     -->
                            <div class="btn-section">
                                <div class="slide-contorol">
                                
                                
                                    
                                        <div class="contorl01">
                                            <div class="slide_btn_pre"><label class=" left" for="slide003" ></label></div>
                                            <div class="slide_btn_next"><label class=" right" for="slide02"></label></div>
                                        </div>
                                        <div class="contorl02">
                                            <label class="left" for="slide01" ></label>
                                            <label class="right" for="slide03"></label>
                                        </div>
                                </div>
                            </div>
                    </div>
                        <!-- Semi_Main -->
                    
                        <div class="semi_main">

                            <!-- A_SIDE -->
                            <%- include('a_side.html') %>
                            <!-- A_SIDE 끝 -->

                             <!-- CONENT -->
                             <div class="content">
                                <div class="main_ad">
                                    <a href="#">
                                        <img src="메인광고이미지.jpg" alt="ad" width="694" height="80">
                                    </a>
                                </div>

                            
                                
                           
                
                                <!-- 장르별추천웹툰 -->
                                <div class="content_wrap">

                                    <div class="content_title">
                                        <a href="#">장르별 <span>추천웹툰 ></span></a>
                                    </div>

                                    <div class="tag_br">
                                        <ul>
                                            <li>
                                                <a href="#" id="episode" title="에피소드">에피소드</a>
                                            </li>
                                            <li> 
                                                <a href="#" id="omnibus" title="옴니버스">옴니버스</a>
                                            </li>
                                            <li> 
                                                <a href="#" id="story" title="스토리">스토리</a>
                                            </li>
                                            <li id="bars">|</li>
                                            <li>
                                                <a href="#" id="daily" title="일상">일상</a>
                                            </li>
                                            <li>
                                                <a href="#" id="comic" title="개그">개그</a>
                                            </li>
                                            <li>
                                                <a href="#" id="fantasy" title="판타지">판타지</a>
                                            </li>
                                            <li>
                                                <a href="#" id="action" title="액션">액션</a>
                                            </li>
                                            <li>
                                                <a href="#" id="drama" title="드라마">드라마</a>
                                            </li>
                                            <li>
                                                <a href="#" id="pure" title="순정">순정</a>
                                            </li>
                                            <li>
                                                <a href="#" id="sensibility" title="감성">감성</a>
                                            </li>
                                            <li>
                                                <a href="#" id="thrill" title="스릴러">스릴러</a>
                                            </li>
                                            <li>
                                                <a href="#" id="historical" title="시대극">시대극</a>
                                            </li>
                                            <li>
                                                <a href="#" id="sports" title="스포츠">스포츠</a>
                                            </li>     
                                        </ul>
                                    </div>
                                    <!-- view_type -->
                                    <div class="view_type">
                                        <ul class="sortby">
                                            <li><a href="#"><span class="view_popular"> 인기순 </span></a></li>
                                            <li><a href="#"><span class="view_update"> 업데이트순 </span></a></li>
                                            <li><a href="#"><span class="view_count"> 조회순 </span></a></li>
                                            <li><a href="#"><span class="view_star"> 별점순 </span></a></li>
                                         </ul>
                                    </div>
                                    <!-- contentmain -->
                                    <div class="content_main">

                                        <div class="content_top">
                                            <!-- ===01=== -->
                                            <div class="content01">
                                                <a href="#">
                                                    <img src="content01.jpg" alt="content01">
                                                </a>
                                                <div class="content01_info">
                                                    <h6>
                                                        <a href="#">모죠의일기</a>
                                                    </h6>
                                                    <a href="">
                                                        <p>236화. 테스트 열풍</p>
                                                    </a>
                                                    <span>
                                                        <a href="#">모죠</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- ===02=== -->
                                            <div class="content02">
                                                <a href="#">
                                                    <img src="content02.jpg" alt="content02">
                                                </a>
                                                <div class="content02_info">
                                                    <h6>
                                                        <a href="#">수상한 비밀상담부</a>
                                                    </h6>
                                                    <a href="">
                                                        <p>54화</p>
                                                    </a>
                                                    <span>
                                                        <a href="#">149</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- ===03=== -->
                                            <div class="content03">
                                                <a href="#">
                                                    <img src="content03.jpg" alt="content03">
                                                </a>
                                                <div class="content03_info">
                                                    <h6>
                                                        <a href="#">범이올시다!</a>
                                                    </h6>
                                                    <a href="">
                                                        <p>65화</p>
                                                    </a>
                                                    <span>
                                                        <a href="#">해</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="content_bottom">
                                            <!-- ===04=== -->
                                            <div class="content04">
                                                <a href="#">
                                                    <img src="content04.jpg" alt="content04">
                                                </a>
                                                <div class="content04_info">
                                                    <h6>
                                                        <a href="#">닥터앤닥터 육아일기</a>
                                                    </h6>
                                                    <a href="">
                                                        <p>203. 삶2</p>
                                                    </a>
                                                    <span>
                                                        <a href="#">닥터베르</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- ===05=== -->
                                            <div class="content05">
                                                <a href="#">
                                                    <img src="content05.jpg" alt="content05">
                                                </a>
                                                <div class="content05_info">
                                                    <h6>
                                                        <a href="#">언덕 위의 제임스</a>
                                                    </h6>
                                                    <a href="">
                                                        <p>289화 모근 게임(7)완</p>
                                                    </a>
                                                    <span>
                                                        <a href="#">쿠당탕</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- ===06=== -->
                                            <div class="content06">
                                                <a href="#">
                                                    <img src="content06.jpg" alt="content06">
                                                </a>
                                                <div class="content06_info">
                                                    <h6>
                                                        <a href="#">노곤하개</a>
                                                    </h6>
                                                    <a href="">
                                                        <p>시즌4 70화 노곤하개냥 쇼트(2)</p>
                                                    </a>
                                                    <span>
                                                        <a href="#">홍끼</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>   <!-- content_main /div -->
                                    
                                </div>   <!-- content_wrap /div -->
                             </div>     <!-- content /div -->
                        </div>       <!-- semi_main /div -->
                        
                </div>
            </div>

            
    





























    </div>
</body>
</html>