
/* css 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css 초기화 */















body {
    height: 100%;
    background: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}
#wrap {
    position: relative;
    height: 100%;
    margin: 0 auto;
    
}

/* HEADER */
#bars {
    color: #afafaf;
}
.login_text {
    color: #000000;
    text-decoration: none;
    border: 1px solid #afafaf;
    font-size: 12px;
}

#header {
    display: flex;
    background: #fff;
    border-bottom: 1px solid #f3f3f3;
}
.inner {
    max-width: 980px;
    width: 960px;
    height: 60px;
    margin: 0 auto;
}
#head_left {
    margin-top: 7px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    float: left;
    align-items: center;
    margin-bottom: 10px;
}
#naver_head {
    height: 100%;
    margin-left: 7px;
    font-weight: 700; 
    color: black;
    text-decoration: none;
}
#만화_head {

    font-weight: 700;
    margin-left: 7px;
    margin-right: 7px;
    text-decoration: none;
    color: black;
}
#웹소설_head {
    color:#afafaf;
    text-decoration: none;
    margin-left: 7px;
    margin-right: 20px;
}

#search_form {
    height: 40px;
    width: 270px;
    border: 1px solid #f3f3f3;
    font-size: 12px;
}


#head_right {
    margin-top: 7px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    float: right;
    align-items: center;
    margin-bottom: 10px;
}

/* SEMI-HEADER */
.semi_header  {
    border-bottom: 1px solid #f3f3f3;
}
.semi_header .inner .semi_left {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 18px;
    float: left;
    margin-bottom: 3px;
}
.semi_header .inner .semi_left li a{
    text-decoration: none;
    padding-right: 10px;
    font-size: 17px;
    font-weight: bold;
    color: black;
}
#단행본만화 {
    margin-left: 5px;
    color: #afafaf;
}
#장르소설 {
    color: #afafaf;
}


/* MAIN */
.main {
    width: 960px;
    height: 252px;
    margin-top: 13px;
}


/* 메인 점보 */
.오늘의웹툰 {
    float: left;
    padding: 0 5px 0 15px;
    border: 1px solid #e5e5e5;
    width: 112px;
    height: 252px;
    border-right: 0;
    text-align: left;
}
.오늘의웹툰 img {
    margin-top: 20px;
}
.오늘의웹툰 p {
    margin-top: 13px;
    font-size: 12px;
    color: #808285;
}
.오늘의웹툰 .main_list {
    width: 91px;
    height: 88px;
    margin-top: 48px;
    float: left;
}
.오늘의웹툰 .main_list ul li {
    padding-top: 8px;
    font-size: 12px;
}
.오늘의웹툰 .main_list ul li:nth-child(1) {
    padding: 0 0 0 0;
}
.오늘의웹툰 .main_list ul li a {
    color: #808285;
}

/* 슬라이드 */
.section {
    width: 582px;
    height: 195px;
    float: left;
    border-bottom: none;
    background: skyblue;
}
/* 버튼영역 */
.btn-section{
    width: 582px;
    height: 57px;
    float: left;
    border-bottom: 1px solid #e5e5e5;
}
.btn-section .slide_btn_pre {
    float: left;
    width: 19px;
    height: 57px;
    background: white;
    border: 1px solid #e5e5e5;
    color: #e5e5e5;
    border-top: none;
}
.btn-section .slide_btn_next {
    
    float: right;
    width: 19px;
    height: 57px;
    background: white;
    border: 1px solid #e5e5e5;
    color: #e5e5e5;
    border-top: none;
}

/* 슬라이드영역 */
.section .slidewrap {
    max-width:1200px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
}
.section .slidelist {
    white-space:nowrap;
    font-size:0;
}
.section .slidelist  li {
    display:inline-block;
    vertical-align:middle;
    width:100%;
    transition:all .5s;
}
.section .slidelist  li  a {
    display:block;
    position:relative;
}
/* 슬라이드버튼효과 */

.btn-section .slide-control {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width:100%;
    height:100%;
}
.btn-section .slide-control label {
    position:absolute;
    z-index:1;
    top:50%;
    transform:translateY(-50%);
    padding:50px;
    cursor:pointer;
}
.btn-section .slide-control .left {
    float: left;
    background: url('../img/chevron-left-solid.svg');
}
.btm-section .slide-control .right {
    float: right;
    background: url('../img/chevron-right-solid.svg');
}
.btn-section .slide-control [class*="control"] {
    display:none;
}


/* 슬라이드 오른쪽 배너 */
.main  .todayChallenge {
    width: 240px;
    height: 252px;
    padding: 0 18px;
    border: 1px solid #e1e1e1;
    float: right;
}
.main  .todayChallenge .today_title_wrap {
    width: 202px;
    height: 16px;
}
.main  .todayChallenge .today_title_wrap .today_title {
    width: 143px;
    height: 16px;
    margin: 20px 0 0;
}
.main  .todayChallenge .today_box img{
    width: 202px;
    height: 112px;
    margin-top: 11px;
    border: 1px solid #e1e1e1;
}
.main .todayChallenge .today_detail {
    width: 202px;
    height: 73px;
    margin: 18px 0 0;
}
.main .todayChallenge .today_detail .dt {
    width: 202px;
    height: 18px;
    padding: 0 62px 0 0;
}
.main .todayChallenge .today_detail .dt a p {
    font-size: 13px;
    color: #000000;
    font-weight: bold;
    float: left;
}
.main .todayChallenge .today_detail .dl {
    margin-top: 3px;
    width: 202px;
    height: 14px;
}
.main .todayChallenge .today_detail .dl p {
    float: left;
    color: #848889;
    font-size: 12px;
}





/* 세미 메인 */
.semi_main {
    width: 960px;
    height: 1751px;
    margin-top: 8px;
    padding-bottom: 100px;
}
















/* ==========A_SIDE=========== */
.semi_main .a_side {
    width: 250px;
    height: 1633px;
    z-index: 2;
    float: right;
    padding-left: 10px;
}

.semi_main .a_side .upload {
    margin-top: 8px;
    width: 240px;
    height: 42px;
    background: #00d564;
    text-align: center;
    border: none;
}

.semi_main .a_side .upload .upload_text {
    text-decoration: none;
    color: white;
    margin-top: 4px;
}
.semi_main .a_side .webtoon_ad {
    margin-top: 8px;
}
/* 실시간랭킹 */
.semi_main .a_side .a_side_box {
    width: 240px;
    height: 296px;
    background: white;
    margin-top: 8px;
}

.semi_main .a_side .a_side_box .a_side_box_title {
    width: 240px;
    height: 31px;
    border: 1px solid #e1e1e1;
    border-bottom: none;
    font-size: 0;
}
.semi_main .a_side .a_side_box .a_side_box_title img {
    float: left;
    margin: 9px 0 0 12px;
}
#realtimerank {
    width: 240px;
    height: 30px;
}
#realtimerank .인기순 {
    width: 120px;
    height: 30px;
    float: left;
    border: 1px solid #e1e1e1;
}
#realtimerank .인기순 img {
    margin: 9px 0 0;
}
#realtimerank .업데이트순 {
    width: 120px;
    height: 30px;
    float: right;
    border: 1px solid #e1e1e1;
    border-left: none;
}
#realtimerank .업데이트순 img {
    margin: 9px 0 0;
}
.semi_main .a_side .a_side_box .realtimebox {
    width: 240px;
    height: 232px;
    border: 1px solid #e1e1e1;
    border-top: none;
}


/* 나이대별 랭킹 */
.semi_main .a_side .agefavrank {
    width: 240px;
    height: 276px;
    background: white;
    margin-top: 8px;
}
.semi_main .a_side .agefavrank .age_title {
    width: 240px;
    height: 31px;
    border: 1px solid #e1e1e1;
    border-bottom: none;
    font-size: 0;
}
.semi_main .a_side .agefavrank .age_title img {
    float: left;
    margin: 9px 0 0 12px;
}
#age_rank {
    width: 240px;
    height: 30px;
}
#age_rank .man {
    width: 120px;
    height: 30px;
    float: left;
    border: 1px solid #e1e1e1;
}
#age_rank .man img {
    margin: 9px 0 0;
}
#age_rank .lady {
    width: 120px;
    height: 30px;
    float: right;
    border: 1px solid #e1e1e1;
    border-left: none;
}
#age_rank .lady img {
    margin: 9px 0 0;
}
.semi_main .a_side .agefavrank .realtimeage {
    width: 240px;
    height: 212px;
    border: 1px solid #e1e1e1;
    border-top: none;
}
/* 공지사항 */
.semi_main .a_side .notice {
    width: 240px;
    height: 224px;
    margin-top: 8px;
    background: white;
}
.semi_main .a_side .notice .notice_title {
    width: 240px;
    height: 31px;
    border: 1px solid #e1e1e1;
    border-bottom: none;
}
.semi_main .a_side .notice .notice_title img {
    float: left;
    margin: 9px 0 0 12px;
}
.semi_main .a_side .notice .notice_title a {
    float: right;
}
.semi_main .a_side .notice .notice_main {
    width: 240px;
    height: 191px;
    border: 1px solid #e1e1e1;
}
/* 배너 */
.semi_main .a_side .partnership {
    margin-top: 6px;
}
.semi_main .a_side .joinus {
    margin-top: 6px;
}
.semi_main .a_side .contest {
    margin-top: 6px;
}
.semi_main .a_side .채용공고 {
    margin-top: 6px;
}
.semi_main .a_side .FAQ {
    width: 240px;
    height: 32px;
    margin-top: 6px;
    background: #fff;
    border: 1px solid #e1e1e1;
    text-decoration: none;
    font-weight: bold;
}
.semi_main .a_side .FAQ a {
    color: black;
}
/* ============================================== */







/* ===============CONTENT===================== */
.semi_main .content {
    width: 704px;
    height: 1393px;
    float: left;
}

.semi_main .main_ad {
    padding-right: 10px;
    float: left;
}


.semi_main .content .content_wrap {
    width: 694px;
    height: 539px;
    text-align: left;
}

.semi_main .content .content_wrap .content_title {
    width: 694px;
    height: 56px;
    padding: 30px 0 10px;
    text-decoration: none;
    font-weight: bold;
}
.semi_main .content .content_wrap .content_title a  {
    color: black
}
.semi_main .content .content_wrap .content_title a span {
    color: #00d564;
}
.semi_main .content .content_wrap .tag_br {
    width: 694px;
    height: 23px;
    margin-top: 12px;
    border-bottom:1px solid #e1e1e1;
}
.semi_main .content .content_wrap .tag_br li a {
    color: #000000;
    font-weight:500;
}
.semi_main .content .content_wrap .tag_br li {
    float: left;
    padding: 0 6px;
    font-size: 14px;
}
/* VIEW_TYPE */
.semi_main .content .content_wrap .view_type {
    width: 694px;
    height: 15px;
    margin: 12px 0;
}
.semi_main .content .content_wrap .view_type .sortby {
    width: 240px;
    height: 12px;
    margin-top: 3px;
    margin-left: 4px;
    float: right;
    text-decoration: none;
    display: flex;
}
.semi_main .content .content_wrap .view_type .sortby li {
    margin-left: 14px;
    padding-right: 2px;
    font-size: 12px;
}
.semi_main .content .content_wrap .view_type .sortby li a {
    color: #afafaf;
}

.semi_main .content .content_wrap .view_type .sortby .view_popular {
    width: 32px;
    height: 12px;
}
.semi_main .content .content_wrap .view_type .sortby .view_update {
    width: 54px;
    height: 12px;
}
.semi_main .content .content_wrap .view_type .sortby .view_count {
    width: 32px;
    height: 12px;
}
.semi_main .content .content_wrap .view_type .sortby .view_star {
    width: 32px;
    height: 12px;
}

/* CONTENT-MAIN */
.semi_main .content .content_wrap .content_main {
    width: 714px;
    height: 409px;
    margin: 0 -10px;
    padding: 0 0 17px;
    list-style: none;
}
.semi_main .content .content_wrap .content_main .content_top {
    float: left;
    display: flex;
}
.semi_main .content .content_wrap .content_main .content_bottom {
    float: left;
    display: flex;
}

/* =============01============= */
.semi_main .content .content_wrap .content_main .content01 {
    width: 238px;
    height: 196px;
    padding: 0 10px;
    
}
.semi_main .content .content_wrap .content_main .content01 a {
    width: 218px;
    height: 120px;
}
.semi_main .content .content_wrap .content_main .content01 .content01_info {
    width: 218px;
    height: 55px;
    margin: 11px 0 0;
}
.semi_main .content .content_wrap .content_main .content01 .content01_info h6 a {
    color: #000;
}
.semi_main .content .content_wrap .content_main .content01 .content01_info p {
    width: 218px;
    height: 24px;
    padding: 5px 0;
    color: #434343;
}
.semi_main .content .content_wrap .content_main .content01 .content01_info span a {
    color: #afafaf;
}
/* =============02============= */
.semi_main .content .content_wrap .content_main .content02 {
    width: 238px;
    height: 196px;
    padding: 0 10px;
    
}
.semi_main .content .content_wrap .content_main .content02 a {
    width: 218px;
    height: 120px;
}
.semi_main .content .content_wrap .content_main .content02 .content02_info {
    width: 218px;
    height: 55px;
    margin: 11px 0 0;
}
.semi_main .content .content_wrap .content_main .content02 .content02_info h6 a {
    color: #000;
}
.semi_main .content .content_wrap .content_main .content02 .content02_info p {
    width: 218px;
    height: 24px;
    padding: 5px 0;
    color: #434343;
}
.semi_main .content .content_wrap .content_main .content02 .content02_info span a {
    color: #afafaf;
}
/* =============03============= */
.semi_main .content .content_wrap .content_main .content03 {
    width: 238px;
    height: 196px;
    padding: 0 10px;
    
}
.semi_main .content .content_wrap .content_main .content03 a {
    width: 218px;
    height: 120px;
}
.semi_main .content .content_wrap .content_main .content03 .content03_info {
    width: 218px;
    height: 55px;
    margin: 11px 0 0;
}
.semi_main .content .content_wrap .content_main .content03 .content03_info h6 a {
    color: #000;
}
.semi_main .content .content_wrap .content_main .content03 .content03_info p {
    width: 218px;
    height: 24px;
    padding: 5px 0;
    color: #434343;
}
.semi_main .content .content_wrap .content_main .content03 .content03_info span a {
    color: #afafaf;
}
/* =============04============= */
.semi_main .content .content_wrap .content_main .content04 {
    width: 238px;
    height: 196px;
    padding: 0 10px;
    
}
.semi_main .content .content_wrap .content_main .content04 a {
    width: 218px;
    height: 120px;
}
.semi_main .content .content_wrap .content_main .content04 .content04_info {
    width: 218px;
    height: 55px;
    margin: 11px 0 0;
}
.semi_main .content .content_wrap .content_main .content04 .content04_info h6 a {
    color: #000;
}
.semi_main .content .content_wrap .content_main .content04 .content04_info p {
    width: 218px;
    height: 24px;
    padding: 5px 0;
    color: #434343;
}
.semi_main .content .content_wrap .content_main .content04 .content04_info span a {
    color: #afafaf;
}
/* =============05============= */
.semi_main .content .content_wrap .content_main .content05 {
    width: 238px;
    height: 196px;
    padding: 0 10px;
    
}
.semi_main .content .content_wrap .content_main .content05 a {
    width: 218px;
    height: 120px;
}
.semi_main .content .content_wrap .content_main .content05 .content05_info {
    width: 218px;
    height: 55px;
    margin: 11px 0 0;
}
.semi_main .content .content_wrap .content_main .content05 .content05_info h6 a {
    color: #000;
}
.semi_main .content .content_wrap .content_main .content05 .content05_info p {
    width: 218px;
    height: 24px;
    padding: 5px 0;
    color: #434343;
}
.semi_main .content .content_wrap .content_main .content05 .content05_info span a {
    color: #afafaf;
}
/* =============06============= */
.semi_main .content .content_wrap .content_main .content06 {
    width: 238px;
    height: 196px;
    padding: 0 10px;
    
}
.semi_main .content .content_wrap .content_main .content06 a {
    width: 218px;
    height: 120px;
}
.semi_main .content .content_wrap .content_main .content06 .content06_info {
    width: 218px;
    height: 55px;
    margin: 11px 0 0;
}
.semi_main .content .content_wrap .content_main .content06 .content06_info h6 a {
    color: #000;
}
.semi_main .content .content_wrap .content_main .content06 .content06_info p {
    width: 218px;
    height: 24px;
    padding: 5px 0;
    color: #434343;
}
.semi_main .content .content_wrap .content_main .content06 .content06_info span a {
    color: #afafaf;
}













/* 마이페이지 부분 CSS입니다  */

/* 마이페이지 FAVORITE 부분 CSS 입니다 */
.semi_main .mypage_fav .fav_head {
    width: 704px;
    height: 185px;
}
.semi_main .mypage_fav .fav_head .fav_select {
    width: 694px;
    height: 25px;
    margin: 16px 0 11px;
    border-bottom: 1px solid #e1e1e1;
}
.semi_main .mypage_fav .fav_head .fav_select ul {
    float: left;
    display: flex;
}
.semi_main .mypage_fav .fav_head .fav_select ul li {
    margin-left: 27px;
}
.semi_main .mypage_fav .fav_head .fav_select ul li a {
    color: black;
}
.semi_main .mypage_fav .fav_head .fav_select ul li:nth-child(1) {
    margin-left: 0px;
}

/* BODY */
.semi_main .mypage_fav .fav_head .select_wrap {
    width: 694px;
    height: 133px;
}
.semi_main .mypage_fav .fav_head .select_wrap .select_title {
    width: 694px;
    height: 50px;
    padding: 16px 0;
    border-bottom: 1px solid #e1e1e1;
}
.semi_main .mypage_fav .fav_head .select_wrap .select_title p {
    font-size: 6px;
    float: right;
    color: #767676;
}
.semi_main .mypage_fav .fav_head .select_wrap .select_title h3{
    float: left;
}

/* TBL SETTING */
.semi_main .mypage_fav .fav_head .select_wrap .tbl_wrap {
    width: 694px;
    height: 85px;
    margin-top: -3px;
}

.semi_main .mypage_fav .fav_head .select_wrap .tbl_wrap .tbl_list {
    width: 694px;
    height: 32px;
    display: flex;
    border-bottom: 1px solid #e1e1e1;
}
.semi_main .mypage_fav .fav_head .select_wrap .tbl_wrap .tbl_list span {
    color: #767676;
    font-size: 11px;
}

.semi_main .mypage_fav .fav_head .select_wrap .tbl_wrap .tbl01 {
    width: 53px;
    height: 32px;
    padding: 8px 0 5px;
}

.semi_main .mypage_fav .fav_head .select_wrap .tbl_wrap .tbl02 {
    width: 73px;
    height: 32px;
    padding: 8px 0 5px;
}

.semi_main .mypage_fav .fav_head .select_wrap .tbl_wrap .tbl03 {
    width: 270px;
    height: 32px;
    padding: 8px 0 5px;
}

.semi_main .mypage_fav .fav_head .select_wrap .tbl_wrap .tbl04 {
    width: 161px;
    height: 32px;
    padding: 8px 0 5px;
}

.semi_main .mypage_fav .fav_head .select_wrap .tbl_wrap .tbl05 {
    width: 91px;
    height: 32px;
    padding: 8px 0 5px;
}

.semi_main .mypage_fav .fav_head .select_wrap .tbl_wrap .tbl06 {
    width: 46px;
    height: 32px;
    padding: 8px 0 5px;
}
.semi_main .mypage_fav .fav_head .select_wrap .tbl_wrap .del_btn {
    float: right;
    margin-top: 5px;
    width: 51px;
    height: 42px;
}
/* FOOT */
.semi_main .mypage_fav .fav_head .select_wrap .tbl_wrap .select_foot {
    width: 694px;
    height: 39px;
    margin: 9px 0 0;
}
.semi_main .mypage_fav .fav_head .select_wrap .tbl_wrap .select_foot .foot_wrap {
    width: 28px;
    height: 39px;
    margin: 0 auto;
    padding: 8px 0 6px;
}
.semi_main .mypage_fav .fav_head .select_wrap .tbl_wrap .select_foot .foot_btn {
    width: 26px;
    height: 27px;
    border: 1px solid #e1e1e1;
    margin: -1px 1px;
    padding: 5px 2px 0;
}




















/* 마이페이지 BOOKMARK 부분 CSS 입니다 */
.semi_main .mypage_bookmark .fav_head {
    width: 704px;
    height: 185px;
}
.semi_main .mypage_bookmark .fav_head .fav_select {
    width: 694px;
    height: 25px;
    margin: 16px 0 11px;
    border-bottom: 1px solid #e1e1e1;
}
.semi_main .mypage_bookmark .fav_head .fav_select ul {
    float: left;
    display: flex;
}
.semi_main .mypage_bookmark .fav_head .fav_select ul li {
    margin-left: 27px;
}
.semi_main .mypage_bookmark .fav_head .fav_select ul li a {
    color: black;
}
.semi_main .mypage_bookmark .fav_head .fav_select ul li:nth-child(1) {
    margin-left: 0px;
}

/* BODY */
.semi_main .mypage_bookmark .fav_head .select_wrap {
    width: 694px;
    height: 133px;
}
.semi_main .mypage_bookmark .fav_head .select_wrap .select_title {
    width: 694px;
    height: 50px;
    padding: 16px 0;
    border-bottom: 1px solid #e1e1e1;
}
.semi_main .mypage_bookmark .fav_head .select_wrap .select_title h3{
    float: left;
}

/* TBL SETTING */
.semi_main .mypage_bookmark .fav_head .select_wrap .tbl_wrap {
    width: 694px;
    height: 85px;
    margin-top: -3px;
}

.semi_main .mypage_bookmark .fav_head .select_wrap .tbl_wrap .tbl_list {
    width: 694px;
    height: 32px;
    display: flex;
    border-bottom: 1px solid #e1e1e1;
}
.semi_main .mypage_bookmark .fav_head .select_wrap .tbl_wrap .tbl_list span {
    color: #767676;
    font-size: 11px;
}

.semi_main .mypage_bookmark .fav_head .select_wrap .tbl_wrap .tbl01 {
    width: 56.31px;
    height: 32px;
    padding: 8px 0 5px;
}

.semi_main .mypage_bookmark .fav_head .select_wrap .tbl_wrap .tbl02 {
    width: 170.03px;
    height: 32px;
    padding: 8px 0 5px;
}

.semi_main .mypage_bookmark .fav_head .select_wrap .tbl_wrap .tbl03 {
    width: 109.45px;
    height: 32px;
    padding: 8px 0 5px;
}

.semi_main .mypage_bookmark .fav_head .select_wrap .tbl_wrap .tbl04 {
    width: 215.73px;
    height: 32px;
    padding: 8px 0 5px;
}

.semi_main .mypage_bookmark .fav_head .select_wrap .tbl_wrap .tbl05 {
    width: 142.47px;
    height: 32px;
    padding: 8px 0 5px;
}
.semi_main .mypage_bookmark .fav_head .select_wrap .tbl_wrap .tbl06 {
    width: 49.08px;
    height: 32px;
    padding: 8px 0 5px;
}
.semi_main .mypage_bookmark .fav_head .select_wrap .tbl_wrap .del_btn {
    float: right;
    margin-top: 5px;
    width: 51px;
    height: 42px;
}
/* FOOT */
.semi_main .mypage_bookmark .fav_head .select_wrap .tbl_wrap .select_foot {
    width: 694px;
    height: 39px;
    margin: 9px 0 0;
}
.semi_main .mypage_bookmark .fav_head .select_wrap .tbl_wrap .select_foot .foot_wrap {
    width: 28px;
    height: 39px;
    margin: 0 auto;
    padding: 8px 0 6px;
}
.semi_main .mypage_bookmark .fav_head .select_wrap .tbl_wrap .select_foot .foot_btn {
    width: 26px;
    height: 27px;
    border: 1px solid #e1e1e1;
    margin: -1px 1px;
    padding: 5px 2px 0;
}


























/* 마이페이지 MYACTIVITY 부분 CSS 입니다 */
.semi_main .mypage_myActivity .fav_head {
    width: 704px;
    height: 222px;
}
.semi_main .mypage_myActivity .fav_head .fav_select {
    width: 694px;
    height: 25px;
    margin: 16px 0 11px;
    border-bottom: 1px solid #e1e1e1;
}
.semi_main .mypage_myActivity .fav_head .fav_select ul {
    float: left;
    display: flex;
}
.semi_main .mypage_myActivity .fav_head .fav_select ul li {
    margin-left: 27px;
}
.semi_main .mypage_myActivity .fav_head .fav_select ul li a {
    color: black;
}
.semi_main .mypage_myActivity .fav_head .fav_select ul li:nth-child(1) {
    margin-left: 0px;
}

/* BODY */
.semi_main .mypage_myActivity .fav_head .select_wrap {
    width: 694px;
    height: 133px;
}
.semi_main .mypage_myActivity .fav_head .select_wrap .select_title {
    width: 694px;
    height: 50px;
    padding: 16px 0;
}
.semi_main .mypage_myActivity .fav_head .select_wrap .select_title p {
    font-size: 6px;
    float: right;
    color: #767676;
}
.semi_main .mypage_myActivity .fav_head .select_wrap .select_title h3{
    float: left;
}
.semi_main .mypage_myActivity .fav_head .select_wrap .my_work_area {
    width: 694px;
    height: 120px;
}
.semi_main .mypage_myActivity .fav_head .select_wrap .my_work_area .work01 {
    width: 218px;
    height: 120px;
}
.semi_main .mypage_myActivity .fav_head .select_wrap .my_work_area .work01 a{
    display: block;
    width: 216px;
    height: 118px;
    text-align: center;
    border: 1px solid #e1e1e1;
    background: #fbfcfd;
}
.semi_main .mypage_myActivity .fav_head .select_wrap .my_work_area .work01 a img {
    width: 67px;
    height: 55px;
    margin: 23px 0 0;
}
.semi_main .mypage_myActivity .fav_head .select_wrap .my_work_area .work01 a em {
    color: #737373;
    font-size: 11px;
    margin: 5px 0 0;
}































/* 마이페이지 PENALTY 부분 CSS 입니다 */
.semi_main .mypage_penalty .fav_head {
    width: 704px;
    height: 185px;
}
.semi_main .mypage_penalty .fav_head .fav_select {
    width: 694px;
    height: 25px;
    margin: 16px 0 11px;
    border-bottom: 1px solid #e1e1e1;
}
.semi_main .mypage_penalty .fav_head .fav_select ul {
    float: left;
    display: flex;
}
.semi_main .mypage_penalty .fav_head .fav_select ul li {
    margin-left: 27px;
}
.semi_main .mypage_penalty .fav_head .fav_select ul li a {
    color: black;
}
.semi_main .mypage_penalty .fav_head .fav_select ul li:nth-child(1) {
    margin-left: 0px;
}

/* BODY */
.semi_main .mypage_penalty .fav_head .select_wrap {
    width: 694px;
    height: 133px;
}
.semi_main .mypage_penalty .fav_head .select_wrap .select_title {
    width: 694px;
    height: 50px;
    padding: 16px 0;
    border-bottom: 1px solid #e1e1e1;
}
.semi_main .mypage_penalty .fav_head .select_wrap .select_title p {
    font-size: 6px;
    float: right;
    color: #767676;
}
.semi_main .mypage_penalty .fav_head .select_wrap .select_title h3{
    float: left;
}

/* TBL SETTING */
.semi_main .mypage_penalty .fav_head .select_wrap .tbl_wrap {
    width: 694px;
    height: 85px;
    margin-top: -3px;
}

.semi_main .mypage_penalty .fav_head .select_wrap .tbl_wrap .tbl_list {
    width: 694px;
    height: 32px;
    display: flex;
    border-bottom: 1px solid #e1e1e1;
}
.semi_main .mypage_penalty .fav_head .select_wrap .tbl_wrap .tbl_list span {
    color: #767676;
    font-size: 11px;
}

.semi_main .mypage_penalty .fav_head .select_wrap .tbl_wrap .tbl01 {
    width: 56.31px;
    height: 32px;
    padding: 8px 0 5px;
}

.semi_main .mypage_penalty .fav_head .select_wrap .tbl_wrap .tbl02 {
    width: 170.03px;
    height: 32px;
    padding: 8px 0 5px;
}

.semi_main .mypage_penalty .fav_head .select_wrap .tbl_wrap .tbl03 {
    width: 109.45px;
    height: 32px;
    padding: 8px 0 5px;
}

.semi_main .mypage_penalty .fav_head .select_wrap .tbl_wrap .tbl04 {
    width: 215.73px;
    height: 32px;
    padding: 8px 0 5px;
}

.semi_main .mypage_penalty .fav_head .select_wrap .tbl_wrap .tbl05 {
    width: 142.47px;
    height: 32px;
    padding: 8px 0 5px;
}

/* FOOT */
.semi_main .mypage_penalty .fav_head .select_wrap .tbl_wrap .select_foot {
    width: 694px;
    height: 39px;
    margin: 9px 0 0;
}
.semi_main .mypage_penalty .fav_head .select_wrap .tbl_wrap .select_foot .foot_wrap {
    width: 28px;
    height: 39px;
    margin: 0 auto;
    padding: 8px 0 6px;
}
.semi_main .mypage_penalty .fav_head .select_wrap .tbl_wrap .select_foot .foot_btn {
    width: 26px;
    height: 27px;
    border: 1px solid #e1e1e1;
    margin: -1px 1px;
    padding: 5px 2px 0;
}